{% extends 'basePublic.html.twig' %}


{% block contenuPublic %}

Acces pas autorisé

Si tu t'es déjà enregistré, tu n'as plus qu'à te connecter <a href="{{ path('app_login') }}">ici</a>
{% endblock %}