

<h1>Bienvenue sur le portfolio {{ user.etudiant.prenom }} {{ user.etudiant.nom }} !</h1>

<p>
   Tu t'es enregistré avec l'email suivant : {{ user.email }}
</p>
<p>
Pour confirmer ton inscription, il faut cliquer ici : 
    <a href = "{{url('confirmMail',{"token":user.token})}}">clic ici pour confirmer ce compte</a>
</p> 


<p>
    Ce mail est automatique, veuillez ne pas répondre .
</p>
