{% extends 'basePublic.html.twig' %}


{% block contenuPublic %}

Hey  </br>
Tes professeurs n'ont pas encore validé ton compte !

Tu pourras te connecter après <a href="{{ path('app_login')}}">ici</a>
{% endblock %}